<div id="membersPage" class="grid-container"/>

  <h2>All Incidents 
  <form action="/logout" method="get" style="display:inline;">
    <button type="submit" class="button small hollow">Logout</button>
  </form>
</h2>

    <div id="incident-list" >
  
    </div>


    <div class="reveal" id="locateonmap" data-reveal>
        <h1>exampleModal99</h1>
        <p class="lead">Your couch. It is mine.</p>
        <div id="modal-map" style="height: 180px;width: 100%;"></div>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
            <button class="close-buttonx" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">No</span>
            </button>
    </div>
</div>
<style>
    #incident-list span{


         font-weight: bold;
    }
     #incident-list  span:not(.inline){
        display: block;
    }
    #incident-list .cell.image{
        text-align: center;
    }
     #incident-list .cell.image img{
        width: 40%;

     }

</style>



