<h1>All Incidents</h1>

<div id="incident-list" class="grid-container">



</div>


<div class="reveal" id="locateonmap" data-reveal>
    <h1>exampleModal99</h1>
    <p class="lead">Your couch. It is mine.</p>
    <div id="modal-map" style="height: 180px;width: 100%;"></div>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
        <button class="close-buttonx" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">No</span>
        </button>
</div>



